<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JGUSTOS</title>
    <link rel="shortcut icon" href="https://i.ibb.co/hZ7b8P1/pixelcut-export-17.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2LQNMD9R7G"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2LQNMD9R7G');
</script>

</head>



<style>
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

    body {
            font-family: "Dancing Script", cursive;
            font-optical-sizing: auto;
            font-weight: weight;
            font-style: normal;
            font-optical-sizing: auto;
            font-weight: 800;
            font-style: normal;
            background: linear-gradient(to top, #008B8B, black), linear-gradient(to bottom, #008B8B, black);
            background-position: top, bottom;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            max-width: auto;
            color: #000000;
        }

    /* Color of the links BEFORE scroll */
    .navbar-scroll .nav-link,
    .navbar-scroll .navbar-toggler-icon,
    .navbar-scroll .navbar-brand {
        color: #fff;
    }

    /* Color of the links AFTER scroll */
    .navbar-scrolled .nav-link,
    .navbar-scrolled .navbar-toggler-icon,
    .navbar-scrolled .navbar-brand {
        color: #fff;
    }

    /* Color of the navbar AFTER scroll */
    .navbar-scroll,
    .navbar-scrolled {
        background-color: #cbbcb1;
    }

    .mask-custom {
        backdrop-filter: blur(5px);
        background-color: rgba(255, 255, 255, .15);
    }

    .navbar-brand {
        font-size: 1.75rem;
        letter-spacing: 3px;
    }

    .navbar-custom {
        background-color: #b4d5ff93;
        /* Color de fondo original */
    }

    #navbar {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: rgb(0, 0, 0);
        padding: 10px 0;
        transition: top 0.3s;
        z-index: 1000;
    }

    #content {
        padding-top: 50px;
        /* Ajusta esto según la altura de tu barra de navegación */
    }

    .card {
        background-color: #000000;
    }

    .container-image {
        position: relative;
        margin-top: 40px;
        width: auto;
        /* Ajusta el ancho según sea necesario */
        height: 100vh;
        /* Ajusta la altura según sea necesario */
    }

    .image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* Ajusta la imagen para cubrir todo el contenedor */
        clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
        /* Forma de montaña invertida */
    }



    .text {
        position: absolute;
        top: 20%;
        left: 22%;
        transform: translate(-50%, -50%);
        z-index: 1;
        /* Coloca el texto encima de la imagen */
        color: white;
        font-weight: 800;
        font-style: normal;
    }

    @media (max-width: 1400px) {
        .container-image {
        position: relative;
        margin-top: 40px;
        width: auto;
        /* Ajusta el ancho según sea necesario */
        height: 90vh;
        /* Ajusta la altura según sea necesario */
        }
    }

    @media (max-width: 1200px) {
        .container-image {
        position: relative;
        margin-top: 40px;
        width: auto;
        /* Ajusta el ancho según sea necesario */
        height: auto;
        /* Ajusta la altura según sea necesario */
        }
    }

    @media (max-width: 800px) {
        .container-image {
        position: relative;
        margin-top: 40px;
        width: auto;
        /* Ajusta el ancho según sea necesario */
        height: auto;
        /* Ajusta la altura según sea necesario */
    }

        .text {
            /* Tamaño de letra más pequeño */
            position: absolute;
            top: 30%;
            left: 37%;
            transform: translate(-50%, -50%);
            z-index: 1;
            /* Coloca el texto encima de la imagen */
            color: white;
            font-weight: 400;
            font-style: normal;
        }
    }

    .btn {
        color: #ffffff;
        background-color: #3b3b3b;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        width: 100%;
        padding: 12px 15px 11px;
        border-radius: 20px;
        box-shadow: 1px 1px 1px #000000, -1px -1px 1px #000000;
        border: none;
        transition: all 0.5s ease 0s;
    }

    .btn:hover,
    .btn:focus {
        border: 2px solid white;
        background-color: #000000;
        color: #fff;
        letter-spacing: 3px;
        box-shadow: none;
        outline: none;
    }

    .card {
        transition: transform 0.3s ease;
    }

    .card:hover {
        transform: scale(1.1);
    }

    .social-link {
        display: inline-block;
        font-size: 24px;
        /* ajusta el tamaño del ícono según sea necesario */
        transition: transform 0.3s ease;
    }

    .social-link:hover {
        transform: scale(1.2);
        /* escala el tamaño del ícono al 120% */
    }
</style>

<div class="container-image">
    <img src="https://i.ibb.co/9p8HFRY/pixelcut-export-25.png" alt="Imagen" class="image">
</div>

<body id="content">

    <nav id="navbar" class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0 navbar-custom">
        <div class="container">
            <a style="padding-left: 20px;" class="navbar-brand" href="#">
                <img src="https://i.ibb.co/hZ7b8P1/pixelcut-export-17.png" alt="Logo" width="70" height="60">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                style="border: solid 2px white;">
                <i class="bi bi-list" style="color: #fff;"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <b><a class="nav-link" style="color: white; padding-right: 40px;" href="/">Inicio</a></b>
                    </li>
                    <li class="nav-item" style=" display: none;">
                        <b><a class="nav-link" style="color: white; padding-right: 40px;" href="/registrar-cita"
                                target="blank">Cotización</a></b>
                    </li>
                    <li class="nav-item">
                        <b><a class="nav-link" style="color: white; padding-right: 40px;"
                                href="#contactoFooter">Contacto</a></b>
                    </li>
            </div>
        </div>
    </nav>



    <div class="container">
        <h1 class="text-center display-4" style="margin-top: 120px;">
            <img src="https://i.ibb.co/LhfngPX/restaurante.png" alt="J&J" style="max-width: 200px; height: 140px;">
        </h1>    
    </div>



    <h1 style="font-size: 48px; text-align: center; margin-top: 1rem; color: #fff;">Nuestros Restaurantes</h1>


    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 mb-4" style="display: none;">
                <div class="card h-100">
                    <img src="https://i.ibb.co/qrKMGn7/CISNEROS-ANTIOQUIA2.png" width="500px"
                        height="200px" class="card-img-top" alt="Gorra">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h5 class="card-title text-center" style="color: white;">Restaurante01</h5>
                        <a href="/gorras" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="https://i.ibb.co/MDR864N/vagon.jpg"
                        width="500px" height="200px" class="card-img-top" alt="vagon">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h5 class="card-title text-center" style="color: white;">El Vagón</h5>
                        <a href="vagon" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100"  style="display: none;">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/2/2a/CISNEROS_-_ANTIOQUIA.jpg"
                        width="500px" height="200px" class="card-img-top" alt="Mascota">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h5 class="card-title text-center" style="color: white;">Restaurante02</h5>
                        <a href="mascotas" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4"  style="display: none;">
                <div class="card">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/2/2a/CISNEROS_-_ANTIOQUIA.jpg" width="500px" height="200px"
                        class="card-img-top" alt="Chevrolet">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h5 class="card-title text-center" style="color: white;">Restaurante03</h5>
                        <a href="chevrolet-nuevo" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4" style="display: none;">
                <div class="card">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/2/2a/CISNEROS_-_ANTIOQUIA.jpg"
                        width="500px" height="200px" class="card-img-top" alt="Renault">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h5 class="card-title text-center" style="color: white;">Restaurante04</h5>
                        <a href="renault-nuevo" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4" style="display: none;">
                <div class="card">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/2/2a/CISNEROS_-_ANTIOQUIA.jpg" width="500px"
                        height="200px" class="card-img-top" alt="Nissan">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h5 class="card-title text-center" style="color: white;">Restaurante05</h5>
                        <a href="nissan-nuevo" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- <h1 id="catalogosUsadosCertificados" style="text-align: center; margin-top: 15rem; color: #fff;">VEHÍCULOS USADOS
        CERTIFICADOS
    </h1>



    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="https://e0.pxfuel.com/wallpapers/213/888/desktop-wallpaper-toyota-logo.jpg" width="500px"
                        height="200px" class="card-img-top" alt="Toyota">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h5 class="card-title text-center" style="color: white;">Toyota</h5>
                        <a href="/toyota-usado" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="https://mpk732t22016clusterb.files.wordpress.com/2016/08/bmw_logo-21.jpg?w=676"
                        width="500px" height="200px" class="card-img-top" alt="BMW">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h5 class="card-title text-center" style="color: white;">BMW</h5>
                        <a href="bmw-usado" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="https://www.desktopbackground.org/download/2560x1440/2012/05/14/389780_mercedes-benz-logo-wallpapers_3508x2480_h.jpg"
                        width="500px" height="200px" class="card-img-top" alt="Mercedes-Benz">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h5 class="card-title text-center" style="color: white;">Mercedes-Benz</h5>
                        <a href="mercedez-benz-usado" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="https://wallpapercave.com/wp/1DcAB24.jpg" width="500px" height="200px"
                        class="card-img-top" alt="Chevrolet">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h5 class="card-title text-center" style="color: white;">Chevrolet</h5>
                        <a href="chevrolet-usado" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="https://soymotor.com/sites/default/files/styles/article_full/public/renault-logo-soymotor.jpg.webp?itok=TR25WiOA"
                        width="500px" height="200px" class="card-img-top" alt="Renault">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h5 class="card-title text-center" style="color: white;">Renault</h5>
                        <a href="renault-usado" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="https://i.pinimg.com/736x/56/ea/bb/56eabbde2ba5737197d95b1d51b4ad10.jpg" width="500px"
                        height="200px" class="card-img-top" alt="Nissan">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <h5 class="card-title text-center" style="color: white;">Nissan</h5>
                        <a href="nissan-usado" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
 -->





    <footer class="p-3 mb-2" style="background-color: rgb(0, 0, 0); color: white;" class="text-muted">
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem "></i>NUESTROS CATALOGOS
                        </h6>
                        <p>
                            <a href="/gorras" class="text-reset">Gorras</a>
                        </p>
                        <p>
                            <a href="/bmw-nuevo" class="text-reset">BMW</a>
                        </p>
                        <p>
                            <a href="/mercedez-benz-nuevo" class="text-reset">Mercedez Benz</a>
                        </p>
                        <p>
                            <a href="/chevrolet-nuevo" class="text-reset">Chevrolet</a>
                        </p>
                        <p>
                            <a href="/renault-nuevo" class="text-reset">Renault</a>
                        </p>
                        <p>
                            <a href="/nissan-nuevo" class="text-reset">Nissan</a>
                        </p>
                        <p>
                            <a href="#catalogosUsadosCertificados" class="text-reset">Usados certificados</a>
                        </p>


                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-3 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            CENTRO DE AYUDA
                        </h6>
                        <p>
                            <a id="contactoFooter" href="" class="text-reset">Contactanos</a>
                        </p>
                        <p>
                            <a href="https://publuu.com/flip-book/448547/1011621" target="blank"
                                class="text-reset">Politicas y privacidad</a>
                        </p>

                    </div>

                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">¿Trabajamos juntos?</h6>
                        <p><i class="bi bi-house-door-fill"></i> Medellin, Colombia </p>
                        <p>
                            <i class="bi bi-envelope-fill"></i>
                            Tucarrosonado8@gmail.com
                        </p>
                        <p><i class="bi bi-telephone-fill"></i> + 57 123 456 7808</p>
                    </div>

                    <section class="d-flex justify-content-center col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                        <div>
                            <a href="https://web.facebook.com/" target="blank" class="me-4 text-reset social-link">
                                <i class="bi bi-facebook" style="color: #0066ff;"></i>
                            </a>

                            <a href="https://twitter.com/?lang=es" target="blank" class="me-4 text-reset social-link">
                                <i class="bi bi-twitter-x" style="color: #fff;"></i>
                            </a>

                            <a href="https://www.instagram.com/" target="blank" class="me-4 text-reset social-link">
                                <i class="bi bi-instagram" style="color: #9900ffd3;"></i>
                            </a>
                            <a href="https://wa.me/3133146671?text=Hola%20,%20¿cómo%20estás?%20Estoy%20interesado%20en%20tu%20catalogo%20de%20catalogos%3F"
                                target="blank" class="me-4 text-reset social-link">
                                <i class="bi bi-whatsapp" style="color: #00ff00;"></i>
                            </a>

                        </div>
                        <!-- Right -->
                    </section>
                    <!-- Grid row -->
                </div>

    </footer>


</body>

<script>
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function () {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
            document.getElementById("navbar").style.top = "0";
        } else {
            document.getElementById("navbar").style.top = "-65px"; /* Ajusta esto según la altura de tu barra de navegación */
        }
        prevScrollpos = currentScrollPos;
    }
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

</html>